<nav class="navbar">

    <div class="navbar-content">

        <div class="logo">
            <h2 routerLink="/courses" class="logo-text">
                TypeScript-universitetet
            </h2>
        </div>

        <div class="nav-links">

            <a routerLink="/courses" routerLinkActive="active">
                Kurser
            </a>

            <a routerLink="/schedule" routerLinkActive="active">
                Mitt Ramschema
            </a>

        </div>

    </div>

</nav>